// normalize
@mixin normalize {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// fonts
@mixin font-normal {
  font-family: $helvetica;
  font-size: 1rem;
}

// flex center
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// button size
@mixin insta-btn {
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  padding: 7px 9px;
  border: transparent;
  background-color: $button-color;
}
