// color
$border-color: #dbdbdb;
$background-grey: #fafafa;
$button-color: #0e95f7;
$link-color: #004181;

// font
$helvetica: Helvetica, "Sans Serif", Arial;

// cut-off border between sections
$border: 1px solid $border-color;

// linear-gradient color
$insta-gradient: linear-gradient(40deg, #ffbb00, #ff6f5f, #d92d7a, #c52b92);
