.header-wrapper {
  @include flex-center;
  width: 70vw;
  height: 200px;
  margin-bottom: 45px;

  // Profile-Image
  .header-wrapper-img {
    @include flex-center;
    width: 260px;
    height: 180px;
    margin-right: 40px;

    .header-circle-img {
      @include flex-center;
      width: 163px;
      height: 163px;
      background: $insta-gradient;
      border-radius: 50%;
      cursor: pointer;

      .header-circle-white {
        @include flex-center;
        width: 157px;
        height: 157px;
        background: white;
        border-radius: 50%;

        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  // Profile-Data
  .header-wrapper-info {
    width: 470px;
    height: 155px;

    // Profile-Data-Top
    .header-info-top {
      @include flex-center;
      width: 460px;
      justify-content: flex-start;
      margin-bottom: 25px;

      h2 {
        font-weight: lighter;
        margin-right: 8px;
      }

      .mb-icon {
        color: rgb(134, 134, 134);
        margin-right: 20px;
      }

      button {
        @include insta-btn;
        margin-right: 8px;
        cursor: pointer;
      }

      div {
        font-size: 11px;
        cursor: pointer;
      }
    }

    // Profile-Data-middle
    .header-info-middle {
      @include flex-center;
      justify-content: flex-start;
      margin-bottom: 25px;

      div {
        margin-right: 45px;

        font-weight: bold;
        span {
          font-weight: normal;
        }
      }
    }

    // Profile-Data-bottom
    .header-info-bottom {
      line-height: 25px;

      h3 {
        font-size: 16px;
        letter-spacing: 1px;
      }

      h4 {
        a {
          text-decoration: none;
          color: $link-color;
        }
      }
    }
  }
}
