.header-wrapper {
  @include flex-center;
  width: 70vw;
  height: auto;

  .header-wrapper-img {
    @include flex-center;
    width: 260px;
    height: 180px;

    .header-circle-img {
      @include flex-center;
      width: 163px;
      height: 163px;
      background: $insta-gradient;
      border-radius: 50%;
      cursor: pointer;

      .header-circle-white {
        @include flex-center;
        width: 157px;
        height: 157px;
        background: white;
        border-radius: 50%;

        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
