.main-wrapper-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: auto;

  .wrapper-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:hover {
      .posts-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        width: 290px;
        height: 290px;
        color: white;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 25px;
          font-size: 20px;

          span {
            margin-left: 5px;
          }
        }
      }
    }

    img {
      width: 290px;
      height: 290px;
      object-fit: cover;
    }

    .posts-overlay {
      display: none;
    }
  }
}
