.wrapper-posts {
  width: 80vw;
  height: auto;
  border: 1px dashed blue;
  padding: 10px;

  img {
    width: 100px;
    height: 100px;
  }

  .test {
    border: 1px dashed red;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
