.main-wrapper-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: auto;
  border: 1px dashed blue;

  .wrapper-posts {
    position: relative;

    border: 1px dashed red;
    &:hover {
      .posts-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.35);
        width: 250px;
        height: 250px;
        color: white;

        div {
          margin-right: 10px;

          span {
            margin-left: 5px;
          }
        }
      }
    }

    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
    }

    .posts-overlay {
      display: none;
    }
  }
}
