.sub-header-wrapper {
  width: 700px;
  @include flex-center;
  justify-content: flex-start;

  .story-list-wrapper {
    @include flex-center;
    flex-direction: column;
    margin-right: 50px;

    .story-list-outer {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: rgb(231, 231, 231);
      margin-bottom: 12px;
      @include flex-center;

      .story-list-inner {
        width: 86px;
        height: 86px;
        border-radius: 50%;
        background-color: white;
      }
    }

    h4 {
      font-weight: 500;
      font-size: 15px;
    }
  }
}
