.sub-header-wrapper {
  width: 700px;
  @include flex-center;
  justify-content: flex-start;
  margin-bottom: 50px;

  .story-list-wrapper {
    @include flex-center;
    flex-direction: column;
    margin-right: 50px;

    .story-list-outer {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: rgb(226, 226, 226);
      margin-bottom: 12px;
      @include flex-center;
      cursor: pointer;

      .story-list-inner {
        width: 86px;
        height: 86px;
        border-radius: 50%;
        @include flex-center;
        background-color: white;

        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    h4 {
      font-weight: 500;
      font-size: 15px;
    }
  }
}
